/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

/* -----GENERAL------- */
body {
  background-color: #202020;
  color: white;
}

main {
  padding: 2rem 8rem;
}

/* -----HEURE------ */
h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
  font-weight: 300;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  color: white;
  padding-bottom: 2rem;
}


/* ---------SECTION RECHERCHE-------- */
.logo {
  width: 4rem;
}
.researchContainer {
  width: 100%;
  margin: auto 0;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btnSearch {
  font-size: 1.4rem;
}

#btnSearch:hover {
  cursor: pointer;
}

/* Searchbar */
.search {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Champs de texte */
input[type="text"] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid white;
  font-size: 1.7rem;
  color: white;
  padding-bottom: .8rem;
  width: 85%;
  font-weight: 300;
}
/* ---------FIN SECTION RECHERCHE-------- */




/* -----------------SECTION PRINCIPALE----------------- */
.section {
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;
}

    /* -----------SECTION POUR L'IMAGE-------- */
    .imageContainer {
      display: flex;
      justify-content: space-between;
      width: 60%;
    }

    #imageAPI {
      width: 100%;
      height: 500px;
      /* background-color: aqua; */
      /* margin: auto; */
      padding-top: 3rem;
      padding-left: 1rem;
      border-radius: 5px;
    }

    #imageAPI img {
      width: 5rem;
      height: 5rem;
    }

    /* button refresh la photo */
    #btnRefresh {
      position: absolute;
      left: 20px;
      width: 5rem;
      height: 5rem;
      background-color: transparent;
      border: none;
      color: white;
      text-align: center;
      font-size: 2.5rem;
    }
    /* -----------FIN SECTION POUR L'IMAGE-------- */

    /* ---------------SECTION DES FAVORIS------------ */
    .favorisContainer {
      width: 35%;
      height: 100%;
    }

    .sitesContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .site a {
      color: white;
      font-size: 1.5rem;
      text-decoration: underline;
    }

    .site {
      height: 11rem;
      width: 10rem;
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      ;
    }

    .site div {
      height: 7rem;
      width: 7rem;
      margin: auto;
      border-radius: 50%;
    }

    .site div img {
      width: 100%;
    }
    /* ---------------FIN SECTION DES FAVORIS------------ */


/* -----------------SECTION PRINCIPALE----------------- */


/* pour la présentation en grid */
/* .blocbloc{
  width: 38%;
  background-color: aqua;
}

.blocI{
  width: 100%;
  height: 50%;
  border: 2px solid transparent;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYN3wFv2H8J755YJM35RoMnhF68LtjvgHEhcHeiw6IJaAnQcd2');
} */